@import 'scss/global.scss';

.admin-layout {
    &__content {
        background-color: $color-homepage-bg;
        height: 100vh;
        overflow: scroll;
    }
    &__container {
        width: calc(100% - 288px);
        margin-left: auto;
    }
}
