@import 'scss/global.scss';

.all-tours {
    padding: 130px 0 40px;
    width: 80%;
    margin: 0 auto;
    &--title {
        text-align: center;
        font-size: 22px;
    }
    &--wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}
