@import 'scss/global.scss';

.forgot {
    &-wrapper {
        .register-layout__container {
            margin: 60px auto 0 !important;
        }
    }
    &-header {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            &--title {
                font-size: 20px;
                font-weight: bold;
                position: relative;
                padding-bottom: 8px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 200px;
                    height: 4px;
                    border-radius: 6px;
                    background-color: $title-color;
                    bottom: 0;
                    right: 0;
                }
            }
        }
        &__intro {
            font-weight: 600;
            display: inline-block;
            margin: 16px 0 32px;
        }
    }
    &__form {
        label {
            font-weight: 600;
        }
        .ant-input {
            padding: 6px 11px;
            font-size: 14px;
            font-weight: 500;
            color: $color-date;
        }
        .ant-form-item {
            margin-bottom: 16px;
        }
        &--footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            margin-bottom: 16px;
            flex-wrap: wrap;
            span {
                a {
                    margin-left: 8px;
                }
            }
        }
        button {
            width: 70%;
            height: 42px;
            span {
                font-weight: 600;
            }
        }
        .ant-form-vertical .ant-form-item-row {
            text-align: center;
        }
        .ant-btn-primary {
            background-color: $btn-register-color;
        }
    }
}

@media screen and (max-width: 371px) {
    .forgot {
        &__form {
            &--footer {
                span {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
