@import 'scss/global.scss';

.register-header {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &--title {
            font-size: 20px;
            font-weight: bold;
            position: relative;
            padding-bottom: 8px;
            &::after {
                content: '';
                position: absolute;
                width: 100px;
                height: 4px;
                border-radius: 6px;
                background-color: $title-color;
                bottom: 0;
                right: 0;
            }
        }
    }
    &__intro {
        font-weight: 600;
        display: inline-block;
        margin: 12px 0;
    }
    &__social {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__or {
        display: flex;
        margin: 12px 0;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 150px;
            height: 2px;
            border-radius: 4px;
            background-color: $color--black;
            left: 38px;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after {
            content: '';
            position: absolute;
            width: 150px;
            height: 2px;
            border-radius: 4px;
            background-color: $color--black;
            right: 38px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
