@import 'scss/global.scss';

.manage-tours {
    box-sizing: border-box;
    &__header {
        padding: 20px 40px 60px;
        background: rgba($color-gradient-2, 0.8);
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--title {
            font-size: 32px;
            color: $color--light;
        }
        &--btn {
            .ant-btn {
                width: 160px;
                height: 40px;
                border-color: $color--light;
                span {
                    font-weight: 500;
                }
            }
        }
    }
    &__content {
        padding: 30px 40px 40px;
        &--title {
            background-color: $color--light;
            margin: 0;
            padding: 14px;
            border-radius: 8px 8px 0 0;
        }
    }
}
