@import 'scss/global.scss';

.fill-infor {
    padding: 130px 0 40px;
    width: 80%;
    margin: 0 auto;
    &--step {
        width: 80%;
        margin: 0 auto;
    }
    &__content {
        display: flex;
        align-items: flex-start;
        gap: 40px;
        &--price {
            width: 25%;
        }
        &--btn {
            width: 100%;
            margin-top: 20px;
            margin-left: 40px;
            .ant-btn {
                width: 90%;
                height: 44px;
                span {
                    font-weight: 500;
                }
            }
        }
    }
    &__form {
        width: 75%;
        background-color: $color--light;
        border-radius: 12px;
        margin-top: 20px;
        &-title {
            font-size: 24px;
            margin: 0;
            padding: 20px;
            color: $color--primary;
            border-bottom: 1px solid $color--border2;
        }
        &--product {
            &-title {
                margin-left: 20px;
            }
            &-item {
                width: 90%;
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        &--contact {
            margin-top: 30px;
            &-title {
                margin-left: 20px;
            }
            &-desc {
                font-size: 16px;
                font-weight: 500;
                color: $color-date;
                padding-left: 42px;
            }
            &-box {
                width: 90%;
                background-color: $color-search-bg;
                margin: 0 auto;
                border-radius: 8px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding: 0 40px;
                box-sizing: border-box;
                &:hover {
                    .fill-infor__form--contact-btn {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &-inf {
                div {
                    padding: 14px 0;
                    font-size: 16px;
                    span:first-child {
                        font-weight: 600;
                        display: inline-block;
                        width: 280px;
                    }
                }
            }
            &-btn {
                padding: 14px 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s linear;
                .ant-btn {
                    height: 32px;
                    width: 120px;
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
        &--voucher {
            margin-top: 30px;
            padding-bottom: 30px;
            &-title {
                margin-left: 20px;
                margin-bottom: 20px;
            }
            &-box {
                background-color: $color-search-bg;
                width: 90%;
                margin: 0 auto;
                padding: 20px 40px;
                box-sizing: border-box;
                border-radius: 8px;
            }
            &-desc {
                font-size: 16px;
                font-weight: 500;
                color: $color-date;
                padding-left: 42px;
            }
            &-input {
                width: 100%;
            }
            &-inpt {
                width: 90%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                .ant-input,
                .ant-btn {
                    height: 40px;
                }
                .ant-input {
                    border: 0;
                    font-size: 16px;
                    font-weight: 500;
                    width: 100%;
                    color: $color-date;
                }
                .ant-btn span {
                    font-weight: 500;
                }
            }
            &-list {
                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: $color-date;
                    padding-left: 42px;
                }
                &-wrapper {
                    background-color: $color--light;
                    width: 70%;
                    margin: 0 auto;
                    border-radius: 8px;
                    div {
                        padding: 16px 36px;
                        display: flex;
                        border-bottom: 1px solid $color--border2;
                        align-items: center;
                        span {
                            width: 50%;
                            text-align: center;
                            font-size: 18px;
                            font-weight: 500;
                            color: $color-date;
                            &:first-child {
                                border-right: 1px solid $color--border2;
                            }
                        }
                        &:first-child,
                        &:last-child {
                            span {
                                font-weight: 600;
                                color: $color--black;
                            }
                        }
                        &:first-child {
                            border-bottom: 1px solid $color--border2;
                        }
                    }
                }
            }
        }
    }
}
