@import 'scss/global.scss';

.admin-tour-item {
    background-color: $color--light;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
    cursor: pointer;
    &:hover {
        .admin-tour-item__info--name {
            color: $btn-register-color;
        }
    }
    &__image {
        height: 150px;
        min-width: 150px;
        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
    &__info {
        &--date {
            font-size: 16px;
            font-weight: 500;
            color: $color-date;
        }
        &--name {
            margin: 0;
            font-weight: bold;
            font-size: 18px;
            color: $color--primary;
            padding: 8px 0;
            transition: all 0.2s linear;
        }
        &--location {
            &-item {
                display: flex;
                padding: 4px 0;
                span:first-child {
                    font-weight: 600;
                    width: 140px;
                }
                span:last-child {
                    font-weight: bold;
                    color: $color--red;
                }
            }
        }
    }
}
