@import 'scss/global.scss';

.change-password {
    &__content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        label {
            font-weight: 600;
            width: 240px;
            font-size: 16px !important;
        }
        .ant-input {
            padding: 6px 11px;
            font-size: 14px;
            font-weight: 500;
            color: $color-date;
        }
        .ant-form-item {
            margin-bottom: 30px;
        }
        .ant-input-affix-wrapper {
            line-height: 1.8;
            font-size: 16px;
            background-color: $color-search-bg;
            border-radius: 8px;
            border: 0;
            input {
                background-color: $color-search-bg;
                &:focus {
                    background-color: $color--light;
                }
                &::placeholder {
                    color: $color-admin-menu-text;
                    font-weight: 600;
                }
            }
            &:focus-within {
                background-color: $color--light;
            }
        }
    }
    &__footer {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        button {
            width: 200px;
            background-color: $color--primary;
        }
        span {
            font-weight: 500;
        }
    }
}
