@import 'scss/global.scss';

.register {
    &__form {
        label {
            font-weight: 600;
        }
        .ant-input {
            padding: 6px 11px;
            font-size: 16px;
        }
        .ant-form-item {
            margin-bottom: 16px;
        }
        &--name {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }
        &--footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            margin-bottom: 16px;
            span {
                a {
                    margin-left: 8px;
                }
            }
        }
        button {
            width: 300px;
            height: 42px;
        }
        .ant-form-vertical .ant-form-item-row {
            text-align: center;
        }
        .ant-btn-primary {
            background-color: $btn-register-color;
        }
    }
}
