@import 'scss/global.scss';

.social-icon {
    width: 110px;
    display: flex;
    align-items: center;
    background-color: $color--light;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    &__name {
        font-size: 16px;
        margin-left: 13px;
        font-weight: 500;
    }
}
