@import 'scss/global.scss';

.pay-cost {
    width: 100%;
    margin-top: 20px;
    background-color: $color--light;
    padding: 0 20px;
    border-radius: 12px;
    &__title {
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid $color--border;
    }
    &__inf {
        display: flex;
        border-bottom: 1px solid $color--border2;
        flex-direction: column;
        padding-bottom: 20px;
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 600;
            color: $color-date;
            span:last-child {
                color: $color--black;
                font-size: 16px;
                font-weight: bold;
            }
        }
        &--price {
            padding-bottom: 20px;
        }
    }
    &__total {
        padding-top: 20px;
    }
    &__score {
        text-align: center;
        color: $color--red;
        line-height: 1.4;
        font-size: 16px;
        margin: 0;
        padding: 20px;
    }
    &--title {
        color: $color--primary;
    }
    &--value {
        color: $color--red;
    }
}
