@import 'scss/global.scss';

.product-item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    background-color: $color-search-bg;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    &__img {
        flex-shrink: 0;
        width: 120px;
        height: 120px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            object-fit: cover;
        }
    }
    &__detail {
        display: flex;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;
        font-family: $font-inter;
        &--title {
            margin: 0;
            color: $color--primary;
            font-size: 18px;
        }
        &--inf1,
        &--inf2 {
            color: $color-date;
            font-weight: 500;
        }
        &--inf1 {
            &-col1,
            &-col2,
            &-col3 {
                display: inline-block;
                padding-right: 20px;
                position: relative;
            }
            &-col2,
            &-col3 {
                padding-left: 14px;
            }
            &-col1::after,
            &-col2::after {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $color-date;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
        &--inf2 {
            &-col1,
            &-col2,
            &-col3 {
                display: inline-block;
                padding-right: 20px;
                position: relative;
            }
            &-col3 {
                padding-left: 20px;
            }
            &-col3::after {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $color-date;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
}
