@import 'scss/global.scss';

.reason {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 20px 25px -5px $color-shadow1, 0 8px 10px -6px $color-shadow1;
    &__icon,
    &__title {
        text-align: center;
    }
    &__icon {
        margin-bottom: 24px;
    }
    &__title {
        font-size: 19.2px;
        margin-bottom: 20px;
    }
    &__detail {
        text-align: center;
        line-height: 1.4;
        font-size: 14px;
        font-weight: 400;
    }
}

@media screen and (max-width: 1494px) {
    .reason {
        &__title {
            margin-bottom: 0;
            height: 40px;
        }
    }
}
