@import 'scss/global.scss';

.product-wrapper {
    &__footer {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 24px;
        margin-right: 8px;
        &--button {
            display: flex;
            align-items: center;
            gap: 20px;
            button {
                height: 36px;
                span {
                    font-weight: 500;
                }
            }
        }
        &--price {
            font-weight: bold;
            font-size: 22px;
            color: $color--red;
        }
    }
}

.btn-edit-passenger {
    text-align: center;
    .ant-btn {
        background-color: $color--primary;
        &:hover {
            background-color: $color-button--primary-hover;
        }
        span {
            font-weight: 600;
        }
    }
}
